./backend/.env
./backend/package.jsonnode_modules/
./frontend/.env
node_modules/
dist/
.env
*.log
.DS_Store
*.sqlite3
*.db
*.pyc
__pycache__/
build/
.cache/
*.lock
*.zip
*.tar.gz
*.tgz
.idea/
.vscode/
*.iml